body {
  margin: 0px;
  height: 100%;
  width: 100%;
  padding: 0px;
  text-align: center;
  font-family: 'Otomanopee One', sans-serif;
  color: #40514e;
  overflow-x: hidden;
}

h1 {
  font-size: 90px;
  margin: 50px auto 0 auto;
  line-height: 2;
  font-family: 'Sacramento', cursive;
  color: #D3E0EA;
}

a{
color: #D3E0EA;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
}


a:hover {

  color: #d3e0a3;


}
.copyright {
  color: #F4F9F9;
  font-size: 12px;
  padding: 20px 0;
}

h2 {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}

p {

  line-height: 2;

}

.middle-container{

  margin-top: 100px;
}

.programmer {
  font-weight: normal;
  color: #D3E0EA;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr{

  border: dotted  #11999E 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}


.Top-Container {
  background: linear-gradient(90deg, #276678 0%, #1687A7 100%);
  padding-top: 100px;
  position: relative;
}

.intro {

width: 30%;
  margin: auto;
}


.skill-row {
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
}


.profile-picture {
  width: 25%;
  padding-top: 10px;
}


.bottom-container {
background: linear-gradient(90deg, #276678 0%, #1687A7 100%);
padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 20px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 19px;
  top: 50px;
}

.Computer {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.Repair {
  width: 25%;
  float: right;
  margin: 30px;
}



.Contact {
  width: 25%;

}

.contact-message{

  width: 40%;
  margin: 40px auto 60px;
}

.footer-link {
  color: #D3E0EA;

}


.btn {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #11999E, #1E62D0);
   background-image: -moz-linear-gradient(top, #11999E, #1E62D0);
   background-image: -ms-linear-gradient(top, #11999E, #1E62D0);
   background-image: -o-linear-gradient(top, #11999E, #1E62D0);
   background-image: -webkit-gradient(to bottom, #11999E, #1E62D0);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #D3E0EA;
   font-family: 'Montserrat', sans-serif;
   font-size: 31px;
   font-weight: 100;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom:  100px;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #11999E, #3D94F6);
   background-image: -moz-linear-gradient(top, #11999E, #3D94F6);
   background-image: -ms-linear-gradient(top, #11999E, #3D94F6);
   background-image: -o-linear-gradient(top, #11999E, #3D94F6);
   background-image: -webkit-gradient(to bottom, #11999E, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
